<!DOCTYPE html>
<html lang="sk-SK">
{{ partial "head_meta.html" . }}
<body class="{{ .Kind }}">

<h1>{{ .Site.Title }}</h1>

<div class="header-ghost"></div>
<header>
<a href="{{ "/" | relURL }}" class="logo"><img src="{{ "logo.svg" | relURL }}" alt="logo"></a>
<a href="#main-menu" class="hamburger"><span></span></a>

<div class="offsite" id="main-menu">
{{- $current_slug := .Permalink | relURL -}}

{{- with .Site.Menus.main -}}
<nav>
<h2>Hlavná navigácia</h2>
{{- range . -}}
{{- $slug := .URL | relURL -}}
<a href="{{ $slug }}"{{ if eq $current_slug $slug }} class="active"{{end}}>{{ .Name }}</a>
{{- end -}}
</nav>
{{- end -}}
<a href="{{ "/" | relURL }}" class="logo"><img src="{{ "logo.svg" | relURL }}" alt="logo"></a>
{{- with .Site.Menus.secondary -}}
<nav>
<h2>Jedlo</h2>
{{- range . -}}
{{- $slug := .URL | relURL -}}
<a href="{{ $slug }}"{{ if eq $current_slug $slug }} class="active"{{end}}>{{ .Name }}</a>
{{- end -}}
</nav>
{{- end -}}

</div>
<a href="#" class="shield" tabindex="-1"></a>
</header>